@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-img {
        background-image: url('https://fluent2websitecdn.azureedge.net/cdn/img_hero_fluent.jmxAQlDf.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}